{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Welcome back, {{ app.user.firstName }}</h3>

                {% if app.user.twitterUsername %}
                    <h4 class="white"><i class="fa fa-twitter"></i>{{ app.user.twitterUsername }}</h4>
                {% endif %}

                <a class="btn btn-info mb-2" href="#">
                    <i class="fa fa-pencil"></i> Update
                </a>


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td rowspan="3" width="150px">
                                            <img alt="robot-logo"
                                                 src="{{ app.user.avatarUrl }}"
                                                 class="img-responsive thumbnail"
                                                 height="150px"
                                            >
                                        </td>
                                        <td class="text-left text-uppercase">Comments</td>
                                        <td class="text-right font-weight-bold">184</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-uppercase">Articles read</td>
                                        <td class="text-right font-weight-bold">1,910</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-uppercase">Likes</td>
                                        <td class="text-right font-weight-bold">3,892</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}