<!doctype html>
<html lang="en">
<head>
    <title>
        {% block title %}Welcome to the SpaceBar{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

</head>
<body>

{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-warning mb-0">
        You are currently switched to user "<span class="font-weight-bold">{{ app.user.email }}</span>"
        <a href="{{ path('article.homepage', {'_switch_user': '_exit'}) }}" class="pull-right">Exit Impersonation</a>
    </div>
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashBag.peek('success')|length == 0 ? 'mb-5' }}">
    <a style="margin-left: 75px;"
       class="navbar-brand space-brand"
       href="{{ path('article.homepage') }}">
        The Space Bar
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Local Asteroids</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Weather</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">

            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle"
                       href="http://example.com"
                       id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <img class="nav-profile-img rounded-circle"
                             src="{{ app.user.avatarUrl(100) }}"
                             alt="Profile">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app.account') }}">Profile</a>

                        {% if is_granted('ROLE_ADMIN_ARTICLE') %}
                            <a class="dropdown-item" href="{{ path('admin.article.new') }}">Create Post</a>
                        {% endif %}

                        <a class="dropdown-item" href="{{ path('app.logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app.register') }}">Register</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
{% endblock %}

</body>
</html>