{{ form_start(articleForm, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_row(articleForm.title, {
        label: 'Заголовок'
    }) }}

    {{ form_row(articleForm.author) }}

    {{ form_row(articleForm.location, {
        attr: {
            'data-specific-location-url': path('admin.article.location-select'),
            'class': 'js-article-form-location'
        }
    }) }}

<div class="js-specific-location-target">
    {% if articleForm.specificLocation is defined %}
        {{ form_row(articleForm.specificLocation) }}
    {% endif %}
</div>

{% if articleForm.publishedAt is defined %}
    {{ form_row(articleForm.publishedAt) }}
{% endif %}

    {{ form_row(articleForm.content) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}